<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
    

    <%- include('./partials/navbar') %>
    <% if (!locals.user) { %>
        <%- include('./partials/background') %>
           
          <% } %>
 
    <% if (locals.blog||locals.user) { %>
      
  <div class="container mt-3" style="display: flex;">
            <% blogs.forEach((blog) => { %>
              <% if (user._id==blog.createdBy) { %>
                <div class="card" style="width: 18rem;">
                  <img style="height: 270px;"  class="card-img-top" src=" <%= blog.coverImageURL %> " alt="Card image cap">
                  <div class="card-body">
                 <h5 class="card-title"> <%=blog.title%> </h5>
                 <a href="/blog/<%=blog._id%>" class="btn btn-primary">View</a>
                    </div>
                          </div>
              <% } %>
            
            
            
            
            
            
            
                <% }); %>
            </div>
     
    <% } %>
    
    
    
    
    
    
    
    
    
    
    

    <%- include('./partials/scripts') %>

</body>
</html>